{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .experience {
            background-color: rgb(var(--color-primary-darker));
            padding: 80px;
        }

        .experience-element {
            max-width: 1024px;
            display: grid;
            grid-gap: 32px;
        }

        @media screen and (max-width: 1020px){
            .experience {
                padding: 32px;
            }
        }
    </style>
{% endblock %}
{% block body %}

        {% set experiences = [
            {'headline': 'Praktikum - Webdesign',
            'content': '2023 absolviere ich in der Firma HDNET mein 3-wöchiges Praktikum im Bereich Webdesign das ich hoffentlich mit einem positiven Feedback abschließen werde.',
            'link': 'www.hdnet.de',
            'linkText': 'Zur Website von HDNET',
            'img': 'img/code.png'},

        ] %}
    <section id="experience" class="experience">
        <h2 class="text-uppercase">Erfahrungen</h2>
        <div class="experience-element">
            {% for item in experiences %}
                {% include 'components/experience/experience-content.html.twig' %}
            {% endfor %}</div>
    </section>
{% endblock %}
